/* --- Simple Flow / Process --- */
.flow-item {
  text-align: center;
  position: relative;
}

.flow-number {
  font-size: 4rem;
  font-weight: 900;
  color: #e2e8f0;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 0;
}

.flow-content {
  position: relative;
  z-index: 1;
  padding-top: 20px;
}
