/* Main stylesheet - imports all CSS modules */

/* Base styles */
@import './variables.css';
@import './layout.css';
@import './animations.css';

/* Component styles */
@import './components/buttons.css';
@import './components/navbar.css';
@import './components/hero.css';
@import './components/features.css';
@import './components/services.css';
@import './components/process.css';
@import './components/about.css';
@import './components/cta.css';
@import './components/footer.css';
@import './components/workflow.css';
